<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HR-Intern Exam</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/hr_intern.css')}}">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div id="exam-wrapper">
        <div class="header" id="header">
            <div class="left-header">
                <h2 id="examTitle">QUALITY CARRIERS</h2>
            </div>
            <div class="right-header">
                <div class="right-text">
                    <p>Total Questions : 30</p>
                    <p id="time">Total Time : <b>30:00</b></p>
                </div>
                <div class="right-icon"><i class="fa-solid fa-user"></i></div>
            </div>
        </div>

    <div id="main-page">
        <div class="container">
            <div class="left-container">
                <h2>Please read the following instructions carefully</h2>
                <h3><u>General instructions:</u></h3>
                <ul>
                    <li>The test includes MCQ,short answers,and descriptive questions (as applicable).Read the each question carefully before answering.</li>
                    <li>The test will be available for [X minutes/hour] Once started,tye timer will not stop.</li>
                    <li>Any Suspicious activity  or rule violation will lead to disqualification.</li>
                </ul>
                <h3><u>Navigation to a question:</u></h3>
                <ul>
                    <li>Use the Next and previous buttons at the bottom of the screen to move between questions.</li>
                    <li>Attempted questions will be shown in green,unattempted in gray,and marked-for-review in purple (or as per the legend shown).</li>
                </ul>

                <div class="radio">
                    <div class="radio-text">
                        <span class="circle answered"></span>
                        <p>Answered</p>
                    </div>
                    <div class="radio-text">
                        <span class="circle not-visited"></span>
                        <p>Not Visited</p>
                    </div>
                    <div class="radio-text">
                        <span class="circle unanswered"></span>
                        <p>Un Answered</p>
                    </div>
                    <div class="radio-text">
                        <span class="circle visited"></span>
                        <p>Visited</p>
                    </div>
                </div>

                <div class="checkboxes">
                    <label><input type="checkbox" id="term1"> I accept the payment conditions</label>
                    <label><input type="checkbox" id="term2"> I accept the terms and conditions</label>
                </div>
            </div>

            <div class="right-container">
                <h3>HR Intern Exam</h3>
                <p>Exam ID : 123 456 7890</p>
                <div class="intern-form">
                    <h3>FILL DETAILS</h3>
                    <input id="detailName" type="text" placeholder="Enter name"/>
                    <input id="detailEmail" type="email" placeholder="Enter your Email"/>
                    <input id="detailNum" type="tel" placeholder="Enter your Phone no"/>
                    <button class="start-btn" onclick="startExam()">START TEST</button>
                </div>
            
            </div>
        </div>
    </div>

    <div id="intern-exam-page">

        <div class="exam-content">
            <div class="left-panel">
                <div class="question-box">
                    <h3 id="question-number">Question 1:</h3>
                    <p id="question-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut laboreLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    </p>
                </div>

                <div class="option-box">
                    <h3>Options:</h3>
                    <label>
                        <input type="radio" name="option" value="0"/><span>Lorem ipsum</span>
                    </label>
                    <label>
                        <input type="radio" name="option" value="1"/><span>Lorem ipsum</span>
                    </label>
                    <label>
                        <input type="radio" name="option" value="2"/><span>Lorem ipsum</span>
                    </label>
                    <label>
                        <input type="radio" name="option" value="3"/><span>Lorem ipsum</span>
                    </label>
                </div>

                <div class="bottom-nav">
                    <div>
                    <button onclick="prevQuestion()">‹ Prev</button>
                    <button onclick="nextQuestion()">Next ›</i></button>
                    </div>
                    <div>
                    <button class="save-btn" onclick="saveAndNext()">save & Next</button>
                    </div>
                </div>
            </div>

            <div class="right-panel">
                <div class="info">
                    <h3>Exam ID: 123 456 7890</h3>
                    <input type="text" value="Candidate Name" disabled />
                    <input type="email" value="Candidate@email.com"disabled/>
                    <input type="tel" value="123 456 7890" disabled/>
                </div>

                <div class="palette" id="question-palette"></div>

                <div class="radio-btn">
                    
                        <span><span class="round answered"></span>
                        Answered</span>
                    

                        <span><span class="round not-visited"></span>
                        Not Visited</span>
                  
                        <span><span class="round unanswered"></span>
                        Un Answered</span>
                    
                    
                       <span><span class="round visited"></span>
                       Visited</span>
                 
                </div>

                <button class="submit-btn" onclick="confirmSubmit()">SUBMIT TEST</button>
            </div>
        </div>
    </div>
</div>
    <div class="window-hover" id="submitModal">
            <div class="window-content">
                <p>Are You Sure You Want to Submit The Test?</p>
                <small>Once you submit,you will not be able to go back to the test.</small>
                <div class="window-btn">
                    <button onclick="closeWindow()">Back To Test</button>
                    <button onclick="submitTest()">Ok Submit</button>
                </div>
            </div>
    </div>

    <script src="{{url_for('static',filename='js/hr_intern.js')}}"></script>
</body>
</html>